div.modal.fade#get-credentials
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title Forgot password
            div.modal-body
                | Content goes here!
            div.modal-footer
                button.btn.btn-success(type="button", data-dismiss="modal") Ok
                button.btn.btn-primary(type="button", data-dismiss="modal") Close