/* Background provided by http://subtlepatterns.com
 * ====================== */
body {
    padding-top: 65px;

    background-image: url("../img/paper_fibers.png");
    background-size: auto;
    background-repeat: repeat repeat;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0; }
}

/* Text styles
 * ====================== */
.text-small {
    font-size: 9px !important;
}

.text {
    font-size: 9px !important;
    font-style: italic;
}

#login-container, #signup-container {
    width: 340px;
    margin: 160px auto;

}
