div.container
    div.footer
        hr(style='margin: 30px 0 10px 0;')
        p &copy;&nbsp;
            a(href='#{authorLink}')= author
            &nbsp;2013

        <a href="http://mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>

    block footer