meta(name="viewport", content="width=device-width", initial-scale=1)

link(rel="stylesheet", href="/libs/prism/prism.css")
link(rel="stylesheet", href="/libs/prism/prism-twilight.css")

link(rel="stylesheet", href="/libs/jquery-switchbox/jquery.switchbox.css")

link(rel="stylesheet", href="/libs/bootstrap-glyphicons/css/bootstrap-glyphicons.css")
link(rel="stylesheet", href="/libs/bootswatch/#{theme}/bootstrap.min.css")
// link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")

link(rel="stylesheet", href="/css/style.css")
block header