doctype 5
html
    head
        block head
            block title
                title= title
            block meta
                meta(name="description", content="")
                meta(name="keywords",    content="")
            include inc/header

    body
        include inc/navbar

        block content

        include inc/footer
        include inc/scripts
        include inc/mixins